{% extends 'portfolio/layout.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}

<!-- content -->
<section class="content">
    <div class="container-projects">
        <div class="background_for_text">
            <span class="title"> Проекты </span>
            <div class="bg-project">
                
            </div>
            <span class="text"> Находятся в стадии разработки :-) </span>

        </div>
    </div>
</section>
<!-- / content -->
{% endblock %}